body {
  display: grid;
  place-items: center;
  height: 100vh;
}
.screen {
  width: 1440px;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  row-gap: 120px;
  place-items: center;
}
.container {
  width: 1224px;
  height: auto;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 900px;
  grid-row: 1 / 2;
  background-image: url("/images/bg.png");
  border: 1px solid red;
}

.about {
  width: 100%;
  height: 313px;
  grid-row: 2 / 3;

  border: 1px solid green;
}
.steps {
  width: 100%;
  height: 705px;
  grid-row: 3 / 4;
  border: 1px solid rgb(32, 180, 94);
}
.countries {
  width: 100%;
  height: 689px;
  grid-row: 4/ 5;
  border: 1px solid blue;
}
.faq {
  width: 100%;
  height: 824px;
  grid-row: 5 / 6;
  border: 1px solid yellow;
}
.cta {
  width: 100%;
  height: 700px;
  grid-row: 6/ 7;
  border: 1px solid orange;
}